*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
@font-face {
    font-family: intro;
    src: url("intro.tff.ttf");
}
:root{
    --secondary:#DF8931;
}
a{
    text-transform: uppercase;
    margin-left: 1.5rem;
    color: white;
}


.logo{
    animation: rotate 2s  infinite linear ;
    color:var(--secondary);
font-size: 2rem;
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-10deg); 
    }
    50%{
        transform: rotate(0); 
    }
    100%{
        transform: rotate(10deg); 
    }
}
 
html , body{
    height: 100%;
width:100%;
}
#page1{
min-height:100vh;
    width:100%;
 overflow: hidden;
    color:white;
}
.hero{
    height:calc(100vh - 84px);
 width:100%;


}
#hero-left{
    height:100%;
    width:30%;

}
#hero-left img{
    transform: rotate(6deg);
    height:70%;
}
#hero-center{
    min-height:100%;
    width:40%;
    padding-top:2rem;
overflow: hidden;

}
#hero-center h1{
    font-size: 4rem;
    animation: rotate 2s  infinite linear;
    color:var(--secondary)
  
}
#hero-center h2{
    line-height: 2rem;
    letter-spacing: 1px;
    font-weight: 900;
   font-size: 2.5rem;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
#hero-center ul li{
color: white;
margin: 0 10px;

}
.btn{
    border-style:dashed;
   border-width: 4px;
   border-radius: 1px;
padding:2px 34px;
    border-color:var(--secondary);
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    animation: shake 0.2s  2 linear ;
 
    transition: all 0.2s linear;
    margin: 1rem 0;
   
}

@keyframes  shake{
    0%{
        transform: rotate(0);
    }
    20%{
        transform: rotate(-5deg); 
    }
    30%{
        transform: rotate(-10deg); 
    }
    40%{
        transform: rotate(-5deg); 
    }
    50%{
        transform: rotate(0); 
    }
    60%{
        transform: rotate(5deg); 
    }
    70%{
        transform: rotate(10deg); 
    }
    80%{
        transform: rotate(5deg); 
    }
    90%{
        transform: rotate(0); 
    }
    100%{
        transform: rotate(-5deg); 
    }
}
#hero-center .btn{
    position: relative;
}
#hero-center .btn::before{
    content: "BOOK NOW";
    position: absolute;
    background-color:var(--secondary);
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    color: white;


 
}



#hero-center button:hover{
    border-style:dashed;
    border-width: 4px;
    border-radius: 1px;
     border-color:var(--secondary);
     
}


#hero-center h5{
    color:var(--secondary);
}
#hero-center .card-img img{
   width:70%;
}
#hero-center .card{
    border: 4px dashed white  ;
    border-radius: 1px;
    margin-top: .3rem ;
    height:30vh;
}
#hero-right{
    height:100%;
width: 30%;

position: relative;
}
#hero-right img{
    transform: rotate(-6deg);
height:70%;
position: absolute;
bottom: 0;
right: 0;
}
/* page2 */
#page2{
    min-height:90vh;
    width:100%;
    background: url("/pics/page2\ bg.svg") , linear-gradient(var(--secondary) , var(--secondary)) ;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 3.5rem;
}
.custom-shape-divider-top-1698003720 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1698003720 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 19px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1698003720 .shape-fill {
    fill: #212529;
}
.custom-shape-divider-bottom-1698006275 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698006275 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 19px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1698006275 .shape-fill {
    fill: #212529;
}
#page2 h1{
    font-family: intro;
    font-weight: 400;
    color: #1A1A1A;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 1px;
    line-height: 5vw;
    
    
   
}
#page2 p {
   
    margin-top: 5rem;
    text-transform: capitalize;
    width:40%;
    
   font-size: 1.3vw;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
    font-family: Arial, Helvetica, sans-serif;
  color:#483D33;
}
#page2 p span{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
/* ============================= */
/*             menu             */
/* ============================= */
.menu{
    background: #1a1a1a;
    color:white;
    overflow: hidden;
}
.menu h1{
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 1.3rem;
    text-transform: uppercase;
   color:white
}
.menu p{
    font-size: 1rem;
    width:70%;
    color: var(--secondary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.4rem;
    padding: 0 0 0.7rem;
}
.menu button{
    border-style:dashed;
    border-width: 4px;
    border-radius: 1px;
 padding:2px 34px;
     border-color:var(--secondary);
     color: white;
     font-weight: bolder;
     font-size: 2rem;
     animation: shake 0.2s  2 linear ;
  background-color: #1A1A1A;
     transition: all 0.2s linear;
     margin: 1rem 0 1.3rem;
      
}
.menu1-pic img{
height:90%;
width:90%;
object-fit: cover;
object-position: center;
}
/* =============== after-menu =========== */
/* ========================================= */
.after-menu {
    background: url("/pics/page2\ bg.svg") , linear-gradient(var(--secondary) , var(--secondary)) ;
background-position: center;
background-size: cover;
    color:white;
overflow: hidden;
z-index: 1000;
}
.after-menu i{
font-size: 5rem;
color: white;
padding: 1rem 0;
animation: slide 0.5s linear 1  ;
transition: all 0.5s linear;
margin:0 0 1.3rem;
}


@keyframes slide {
    0%
    {
transform: translatey(4rem);
}
100%{
    transform: translatey(0);
}
}
.after-menu h1{
    font-size: 3.3rem;

    margin-bottom: 1.3rem;
    text-transform: uppercase;
  color: #1A1A1A;
 
}
.after-menu p{
    font-size: 0.9rem;
    color:#ffff;
    width:40%;
 margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.4rem;
    padding: 0 0 0.7rem;
    
}
.after-menu button{
    border-style:dashed;
    border-width: 4px;
    border-radius: 1px;
 padding:2px 30px;
     border-color:white;
     color: white;
     font-weight: bolder;
     font-size: 2rem;
     animation: shake 0.2s  2 linear ;
  background-color: var(--secondary);
     transition: all 0.2s linear;
     margin: 3.5rem 0 1.3rem;
}
/* ======================== */
/* registeration */
.registeration {
    background: #1a1a1a;
    color:white;

}
.registeration .container{
    border-style:dashed;
    border-width: 6px;
    border-radius: 1px;
     border-color:var(--secondary);
}
.registeration h1{
    width: 75%;
    font-size: 5rem;
    line-height:5.2rem ;
}
.registeration p{
    width:80%;
    padding: 1.5rem 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
}
.registeration form{
    color: var(--secondary);
}
.registeration form input{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--secondary);
}
.registeration button{
    border: none;
    background-color: var(--secondary);
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2rem;
margin: 1.9rem 0;
}
/* =========================== */
/* footer */
#footer .container{
border: none;

}



.footer1{
 
}
.footer1 p{
    font-size: 1rem;
    width:70%;
color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.4rem;
    padding: 0 0 0.7rem;
    text-align: center;
}
.footer1 p span{
    color:var(--secondary);
    font-size: 0.9rem;
}
.footer1-icon i{
   font-size: 2rem;
   padding: 0.5rem 1rem;
    
}
.footer1 h1{
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
}
/*  footer2     */

.footer2 p{
    font-size: 1rem;
    width:80%;
color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    line-height: 1.4rem;
    padding: 0rem 0 0.7rem;
    margin-top: 0.7rem;
}
.footer2 button{
    background-color: transparent;
    border-style:dashed;
    border-width: 4px;
    border-radius: 1px;
 padding:4px 20px;
     border-color:var(--secondary);
     color: white;
     font-weight: bolder;
}
.footer2 a{
    font-size: 0.8rem;
    color:var(--secondary);
  margin-left: 0.1rem;
}
.footer3{
 width:100%;
}
.footer3 img{
  width: 70%;
}
/* media */
@media (max-width:768px) {
    .hero{
      height:auto;
        margin-top: 0;
    }
    #page1{
        height: auto;
    }
    #hero-left , #hero-right{
        display: none;
    }
    .logo{
        
    }
    #hero-center{
        width:90%;
        min-height:100%;
padding-top: 0;
    }
    #hero-center h1{
margin-bottom: 1.5rem;
    }
    #hero-center h2{
        line-height: 2.5rem;
    }
    #hero-center button{
       margin: 1.3rem 0;
    }
    #hero-center .card{
        margin: 1rem 0;
       height:40vh;
    }
    #page2{
        min-height: 100vh;
        padding-bottom: 2rem;
        width:100%;
    }
    #page2 h1{
        max-width:90%;
        font-size: 3.2rem;
        line-height: 2.5rem;
    }
    #page2 p {
   
        margin-top: 3.2rem;
     font-size: .9rem;
        width:90%;

   
      
      
    }

    /* menu */
    .menu h1{
        font-size: 4rem;
    }
    .menu p{
        width:80%;
    }
    .registeration h1{
        width: 100%;
        font-size: 3rem;
        line-height: 3.4rem;
        text-align: center;
    }
    .registeration p{
        text-align: center;
        width:100%;
    }
   .footer1 p , .footer2 p  {
font-size: 0.7rem;
   }
   .footer1 h1{
    font-size: 1.1rem;
   }
}



@media (max-width:425px){
    .menu p{
        width: 100%;
    }
    .after-menu p{
        width:100%;
    }
    .registeration h1{
        font-size: 3rem;
        width: 100%;
       
    }
}
@media (max-width:375px) {
    #page2 h1{
        max-width:90%;
        font-size: 2.3rem;
        line-height: 2rem;
    }
    .footer1 h1{
        font-size: 1rem;
       
    }
   
}
@media (max-width:325px){
    .registeration h1{
        font-size:2.1rem ;
        line-height: 2.6rem;
        width: 100%;
        text-align: center;
    }
    .footer1 h1{
        font-size: 1rem;
    }
   
}